.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 630px;
  justify-content: space-evenly;
  margin: 3% auto;
  background-color: #9298a1;
  border-radius: 10px;
  color: #242333;
  font-size: 1em;
}
.container {
  display: flex;
}
h1 {
  font-size: 2em;
}
.row {
  display: flex;
  /* flex-wrap: wrap; */
}
.col-md-2 {
  padding: 0px 8px;
  font-size: 1em;
  /* padding: 6px; */
}
.movies-list {
  width: 27%;
  height: 5vh;
  font-size: 0.8em;
}
.screen {
  background-color: #fff;
  height: 60px;
  width: 40%;
  margin: 15px 0;
  /* transform: rotateY(-65deg); */
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

.seat {
  width: 25px;
  height: 25px;
  border-radius: 50% 50% 0px 0px;
  margin-bottom: 5px;
  cursor: pointer;
  display: flex;
  /* justify-content: space-between; */
}
.seat:hover {
  transform: scale(1.1);
}
.seat-grey {
  background-color: #ddd;
}
.seat-black {
  background-color: black;
}
.movie-layout {
  flex-wrap: nowrap;
}

@media (max-width: 940px) {
  .seat {
    width: 23px;
    height: 23px;
  }
}
@media (max-width: 768px) {
  .seat {
    width: 18px;
    height: 18px;
  }
}
@media (max-width: 705px) {
  .seat {
    width: 15px;
    height: 15px;
  }
  .App {
    font-size: 0.8em;
    word-wrap: break-word;
  }
  .col-md-2 {
    padding: 0px 2px 0px 2px;
    font-size: 0.8em;
    /* padding: 6px; */
  }
}
